#chat-messages {
    padding: 16px;
    width: 500px;
    
    height: 300px;
    
    overflow-y: scroll;
    
    position: absolute;
    bottom: 50px;
    right: 25px;
    
    
    background-color: #ffffff44;
    backdrop-filter: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}
#user-input button {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}
.btn
{
    background: white;
    color: aquamarine;
    font-weight: 400;
    width: 100%;
    border:1px solid black;
    padding :10px;
    margin: 10px .0;
    text-align: left;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.4s;
}
